h1 {
    color: violet;
}

h2 {
    color: yellowgreen;
}

h3 {
    color: maroon;
}

h4 {
    color: yellowgreen;
}

h5 {
    color: red;
}

h6 {
    color: black;
}

div {
    color: chocolate;
    background-color: gray;
}

span {
    text-transform: uppercase;
    color: goldenrod;
}

#name {
    color: maroon;
}

.heading {
    color: hotpink;
}